{
	# debug
	http_port <EXPOSED_PORT>
	auto_https disable_redirects
}

:<EXPOSED_PORT> {
	@docs {
		path_regexp docs ^.*/docs/(.*)$
	}

	@static {
		path_regexp static ^.*/static/(.*)$
	}

	@hooks {
		path_regexp hooks ^.*/api/hooks/(.*)$
	}

	route @hooks {
		rewrite * /hooks/{http.regexp.hooks.1}
		reverse_proxy :9000
	}

	route @docs {
		rewrite * {http.regexp.docs.1}
		file_server {
			root <DQAPP>/docs
		}
	}

	route @static {
		rewrite * {http.regexp.static.1}
		file_server {
			root <DQAPP>/static_root
		}
	}

	reverse_proxy * :8000
}
