{
	# debug
	http_port ${EXPOSED_PORT}
	auto_https disable_redirects
}

:${EXPOSED_PORT} {
	@cms_static {
		path_regexp cms_static ^.*/cms/(.*\.(css|gif|jpeg|jpg|json|js|png))$
	}

	@docs {
		path_regexp docs ^.*/docs/(.*)$
	}

	@static {
		path_regexp static ^.*/static/(.*)$
	}

	@hooks {
		path_regexp hooks ^.*/api/hooks/(.*)$
	}

	route @cms_static {
		rewrite * {http.regexp.cms_static.1}
		file_server {
			root /store/files/cms
		}
	}

	route @hooks {
		rewrite * /hooks/{http.regexp.hooks.1}
		reverse_proxy :9000
	}

	route @docs {
		rewrite * {http.regexp.docs.1}
		file_server {
			root ${DQAPP}/docs
		}
	}

	route @static {
		rewrite * {http.regexp.static.1}
		file_server {
			root ${DQAPP}/static_root
		}
	}

	reverse_proxy * :8000 {
		@accel header X-Accel-Redirect *
		handle_response @accel {
			root * ${CADDY_SENDFILE_ROOT}
			rewrite * {rp.header.X-Accel-Redirect}
			file_server
			header Content-Disposition "attachment; filename="
		}
		header_up X-Forwarded-Proto ${URL_PROTOCOL}
		header_down Location http:// ${URL_PROTOCOL}://
	}
}
