{
	http_port ${EXPOSED_PORT}
	auto_https disable_redirects
	log {
		output stdout
		format console
		level info
	}
}

:${EXPOSED_PORT} {
	@cms_static {
		path_regexp cms_static ^.*/cms/(.*\.(bmp|css|gif|jpeg|jpg|js|json|mp4|pdf|png|py))$
	}

	@docs {
		path_regexp docs ^.*/docs/(.*)$
	}

	@static {
		path_regexp static ^.*/static/(.*)$
	}

	@hooks {
		path_regexp hooks ^.*/api/hooks/(.*)$
	}

	route @cms_static {
		rewrite * {http.regexp.cms_static.1}
		file_server {
			root ${CADDY_SENDFILE_ROOT}/files/cms
		}
	}

	route @hooks {
		rewrite * /hooks/{http.regexp.hooks.1}
		reverse_proxy :9000
	}

	route @docs {
		rewrite * {http.regexp.docs.1}
		file_server {
			root ${DQAPP}/docs
		}
	}

	route @static {
		rewrite * {http.regexp.static.1}
		file_server {
			root ${DQAPP}/static_root
		}
	}

	reverse_proxy * :8080 {
		header_up X-Forwarded-Proto ${URL_PROTOCOL}
		header_down Location http:// ${URL_PROTOCOL}://
	}
}
